In [1]:
#importing libraries
import numpy as np
import pandas as pd

In [3]:
#Loading dataset
df=pd.read_csv("multiple_linear_regression_dataset.csv")
df

    age  experience  income
0    25           1   30450
1    30           3   35670
2    47           2   31580
3    32           5   40130
4    43          10   47830
5    51           7   41630
6    28           5   41340
7    33           4   37650
8    37           5   40250
9    39           8   45150
10   29           1   27840
11   47           9   46110
12   54           5   36720
13   51           4   34800
14   44          12   51300
15   41           6   38900
16   58          17   63600
17   23           1   30870
18   44           9   44190
19   37          10   48700

In [5]:
df.isnull().sum()

age           0
experience    0
income        0
dtype: int64

In [7]:
#train_test split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(df.drop("income",axis=1),df["income"],test_size=0.2)

In [9]:
X_train

    age  experience
16   58          17
15   41           6
19   37          10
0    25           1
7    33           4
9    39           8
10   29           1
5    51           7
3    32           5
12   54           5
8    37           5
2    47           2
11   47           9
17   23           1
18   44           9
13   51           4

In [11]:
X_test

    age  experience
1    30           3
14   44          12
4    43          10
6    28           5

In [13]:
Y_train

16    63600
15    38900
19    48700
0     30450
7     37650
9     45150
10    27840
5     41630
3     40130
12    36720
8     40250
2     31580
11    46110
17    30870
18    44190
13    34800
Name: income, dtype: int64

In [15]:
Y_test

1     35670
14    51300
4     47830
6     41340
Name: income, dtype: int64

In [17]:
#Training the model
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X_train,Y_train)
#predicting the outcome
Y_pred=LR.predict(X_test)

In [21]:
#Evaluation metrics
from sklearn.metrics import mean_squared_error,r2_score
print("Mean_Squared_Error :",mean_squared_error(Y_test,Y_pred))
print("R2 Score :",r2_score(Y_test,Y_pred))

Mean_Squared_Error : 2762659.3638404654
R2 Score : 0.9234818430092968

In [23]:
#coefficients
LR.coef_

array([ -83.50554205, 2203.44219495])

In [25]:
#intercept
LR.intercept_

30347.376557522286